body {
    background-color: black;
}

.box {
    position: relative;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}

table {
    margin: auto;
}

p {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}